<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 10px;
    padding: 5px 0;
  }
  .leftContent, .centerContent, .rightContent {
    display: inline-block;
  }
  .centerContent {
    flex-grow: 1;
    text-align: center;
  }
  .leftContent {
    flex-grow: 0;
    padding-left: 20px;  /* Added padding to the left content */
  }
  .rightContent {
    flex-grow: 0;
    padding-right: 20px; /* Added padding to the right content */
  }
</style>

<div class="footer">
  <span class="leftContent">Printed on: <%= date %></span>
  <span class="centerContent">Page <span class="pageNumber"></span> of <span class="totalPages"></span></span>
  <span class="rightContent">Printed by: <%= userName%></span>
</div>