/*! ============================================================================= */
/*! LOGIN CSS */
/*! ============================================================================= */
#admin-console-login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  background-image: url("/public/bg2.jpg");
  /* filter: blur(2px) brightness(0.7); */
}
#admin-console-login-page:not(.login-form-block) {
}
#admin-console-login-page .login-form-block {
  /* height: 900px; */
  width: 500px;
  background: white;
  background-size: cover;
  background-position: center;
  /* background-image: url("/ELOGLogin.png"); */
  /* background-color: rgb(103, 103, 192); */
  background-color: rgb(13, 92, 136);
  /* background-color: white; */
  background-color: rgb(59, 62, 65);
  background-color: rgb(10, 30, 50);
  background: linear-gradient(75deg, rgb(108, 138, 169), rgb(34, 98, 121));
  margin-right: 5%;
  /* background-color: rgb(113, 209, 218); */
}

#admin-console-login-page .login-form-block .top-block {
  padding: 50px 20px 15px;
  border-bottom: 2px solid white;
}

#admin-console-login-page .login-form-block .logo {
  width: 250px;
  margin: 0 auto 30px;
}

#admin-console-login-page .login-form-block .logo img {
  filter: brightness(0) invert(1);
  width: 250px;
}

#admin-console-login-page .login-form-block .head {
  font-size: 1.5rem;
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  color: white;
  /* color: #000; */
}

#admin-console-login-page .login-form-block form {
  padding: 30px;
}

#admin-console-login-page .login-form-block form ::placeholder {
  color: white;
}

#admin-console-login-page .group-input {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  border: 2px solid white;
  padding: 7px;
  border-radius: 5px;
}

#admin-console-login-page label {
  color: white;
  display: grid;
  place-items: center;
  font-weight: bold;
}

#admin-console-login-page input,
#admin-console-login-page select {
  border: 0;
  outline: none;
  background: transparent;
  color: white;
}

#admin-console-login-page .submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #f6f8fa;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}
