#e-signature-modal .modal-middle {
    display: grid;
    gap: 20px;
  }

  .custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .custom-modal .modal-container .modal-btn {
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    transition: all 0.3s linear;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  .custom-modal .modal-container .btn-1 {
    background: #006fc057;
  }
  
  .custom-modal .modal-container .btn-2 {
    background: #80808030;
  }
  
  .custom-modal .modal-container .btn-3 {
    background: #ff000030;
  }
  
  .custom-modal .modal-container .modal-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .custom-modal .modal-container {
    width: 600px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .custom-modal .modal-container .modal-top {
    display: grid;
    grid-template-columns: 1fr 16px;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #8080808c;
  }
  
  .custom-modal .modal-container .modal-top .head {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .custom-modal .modal-container .modal-top .close-modal {
    cursor: pointer;
  }
  
  .custom-modal .modal-container .modal-middle {
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .custom-modal .modal-container .modal-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #8080808c;
  }
  