.desktop-input-table-wrapper {
    height: calc(100vh - 150px);
    width: 100%;
    padding: 35px 20px;
  }
  

  .desktop-input-table-wrapper .input-wrapper {
    display: grid;
    grid-template-columns: 8fr 1.5fr;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 10px;
    gap: 60px;
    padding: 5px 0px;
    margin-bottom: 20px;
  }
  
  .desktop-input-table-wrapper > .input-wrapper > .group-input-2 {
    /* border: 1px solid rgb(231, 227, 227); */
  }
  
  .desktop-input-table-wrapper .table-wrapper {
    overflow-y: auto;
    height: calc(100vh - 240px);
  }
  
  .btn {
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    background-color: #32cfe1;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  