.btn-forms-select {
    border: 1px solid rgb(68, 67, 67);
    padding: 5px 10px;
    border-radius: 28px;
  }
  
  .btn-forms-select:hover{
   cursor: pointer;
  }
  
  .btn-forms-isSelected {
    background-color: rgb(255, 210, 120);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 28px;
  }
  
  .btn-forms {
    display: flex;
    gap: 10px;
    margin: 10px;
  }
  
  .limit{
    color:red
  }
  
  .table-equipmentName{
    height: 50px;
  }
  
  .width-date{
    width: 10px;
  }
  
  .width-product{
  width:70px
  }
  
  .width-checkedBy{
    width: 5px;
  }
  
  .width-batchNo{
    width: 5px;
  }
  
  .width-typeOfActivity{
    width:5px
  }
  
  .width-reasonForCleaning{
    width: 10px;
  }
  
  .width-remark{
    width: 15px;
  }
  
  .width-area{
    width: 300px;
  }
  
  .height-table-tr1{
    height:100px; 
  }
  
  
  .table-td-eSign{
    transform: rotate(90deg);
  }
  
  .table-typeOfActiviy{
    width: 195px;
  }
  
  
  .table-td-batchL1{
    height: 100%;
    width: 100%;
  }
  
  .table-select{
    font-size: 18px;
  }
  
  .table th, td{
    padding: 0px;
  }
  
  .table thead,tr th{
    padding: 6px;
  }
  
  
  
  .full-column {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    height: 100%;
  }
  
  table  {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  table,
  tr,
  td {
    border-collapse: collapse;
  
  }
  
  table.removedBorder2,
  td.removedBorder2,
  th.removedBorder2{
   border-top: 2px solid #808080 !important;
   border-bottom: none;
   border-right: none;
   border-left: none;
  
  }
  
  table.removedBorder3,
  td.removedBorder3,
  th.removedBorder3{
    border:none !important
  }
  
  .rotate-270 {
    transform: rotate(270deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .truncate {
    max-width: 100px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  