
/*! DOCUMENT CSS */
/*! ===================================================================== */
#main-form-container .aside-container {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100vh;
}

#main-form-container .aside-container .head {
  background: var(--themeColor);
  color: white;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-form-container .aside-container .head > div:nth-child(1) {
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 7px;
}

#main-form-container .aside-container .head > div:nth-child(2) {
  font-size: 0.9rem;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}

#main-form-container .aside-container .content {
  padding: 20px;
  max-height: calc(100vh - 78px);
  overflow-y: auto;
  display: grid;
  gap: 30px;
}

#main-form-container .aside-container .workflow > div {
  text-align: center;
  padding: 7px 15px;
  border-radius: 35px;
  font-weight: bold;
  background: #006fc026;
  position: relative;
}

#main-form-container .aside-container .workflow > div.green-state {
  background: #00ff0026;
}

#main-form-container .aside-container .workflow > div.red-state {
  background: #ff000026;
}

#main-form-container .aside-container .workflow > div img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: rotate(90deg) translate(-12%, 23px);
  width: 46px;
  height: 42px;
}

#main-form-container .aside-container .family-list div {
  background: #006fc026;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#main-form-container .sticky-buttons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: grid;
  gap: 10px;
  z-index: 5;
}

#main-form-container .sticky-buttons div {
  background: var(--themeColor);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 0 5px 5px 0;
}

#config-form-document-page {
  padding: 0 0 76px;
  /* border-left: 1px solid #808080; */
}

#config-form-document-page .top-block {
  background: var(--themeColor);
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#config-form-document-page .top-block div {
  padding: 10px 20px;
  border-right: 1px dashed #ffffff;
  font-size: 0.9rem;
}

#config-form-document-page .top-block div:nth-last-child(1) {
  border-right: 0;
}

#config-form-document-page .state-bar {
  display: flex;
  font-size: 0.85rem;
  gap: 20px;
}

#config-form-document-page .document-block {
  padding: 20px;
  display: grid;
  gap: 20px;
}

#config-form-document-page .document-tabs {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  order: 2;
}

#config-form-document-page .document-tabs div {
  padding: 7px 15px;
  border-radius: 35px;
  font-weight: bold;
  background: #006fc026;
  cursor: pointer;
}

#config-form-document-page .document-tabs div.active {
  background: var(--themeColor);
  color: white;
  font-weight: 400;
}

#config-form-document-page .document-form {
  padding: 15px;
  border-radius: 5px;
  order: 3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.dual-grid,
#config-form-document-page .document-form .form-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 0 20px;
}

#config-form-document-page .document-form .sop-type-header {
  display: grid;
  grid-template-columns: 135px 1fr;
  border: 2px solid #000000;
  margin-bottom: 20px;
  padding: 1.5%;
}

#config-form-document-page .document-form .sop-type-header .main-head {
  display: grid;
  place-items: center;
  align-content: center;
  font-size: 1.2rem;
}

.main-head {
  padding-right: 130px;
}

#config-form-document-page
  .document-form
  .sop-type-header
  .main-head
  div:nth-child(1) {
  font-weight: bold;
  font-size: 1.7rem;
}

#config-form-document-page .button-block {
  padding: 8px 20px;
  background: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-left: 1px solid #808080;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px 10px;
}

#config-form-document-page .details-form-data .sub-head {
  color: #4274da;
  border-bottom: 2px solid #4274da;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

#config-form-document-page .details-form-data .sub-head-2 {
  text-align: center;
  background: #35dcef;
  padding: 10px 20px;
  font-size: 1.6rem;
  color: #ffffff;
  border-radius: 40px;
  font-weight:600;
}

#config-form-document-page .group-input .file-attachment-field {
  display: grid;
  grid-template-columns: 1fr 150px;
  align-items: start;
  gap: 20px;
  margin-bottom: 20px;
}

#config-form-document-page .group-input .file-attachment-field input {
  margin: 0;
}

#config-form-document-page
  .group-input
  .file-attachment-field
  .file-attachment-list {
  background: white;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#config-form-document-page
  .group-input
  .file-attachment-field
  .file-attachment-list
  > div {
  font-size: 0.9rem;
}

#config-form-document-page
  .group-input
  .file-attachment-field
  .file-attachment-list
  > div
  a {
  color: #0039bd;
  font-size: 0.8rem;
  text-decoration: underline;
}

#config-form-document-page .group-input .file-attachment-field .add-btn {
  position: relative;
}

#config-form-document-page .group-input .file-attachment-field .add-btn div {
  background: #35dcef;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

#config-form-document-page .group-input .file-attachment-field .add-btn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
}

#config-form-document-page .group-input table input,
#config-form-document-page .group-input table select,
#config-form-document-page .group-input table textarea {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

#config-form-document-page .form-flex-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

#config-form-document-page #add-keyword {
  display: flex;
  gap: 20px;
}

#config-form-document-page .document-block .option-grid > div {
  display: grid;
  grid-template-columns: 1fr 15px 20px;
  gap: 20px;
  margin-bottom: 10px;
}

#config-form-document-page .group-input #icon-flex {
  display: flex;
  gap: 5px;
}

#config-form-document-page .details-form-data .text-Annexure {
  padding: 10px;
}

#config-form-document-page .activity-log-field {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px dashed #808080;
  font-size: 0.85rem;
}

#config-form-document-page .activity-log-field:nth-child(2n) {
  background: #006fc00f;
}

#config-form-document-page .activity-log-field div {
  padding: 7px 15px;
}

#config-form-document-page .activity-log-field div:nth-child(1) {
  border-right: 1px dashed #808080;
}

#config-form-document-page .activity-log-field:nth-last-child(1) {
  margin-bottom: 0;
}

#main-form-container .tripple-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.radio-btn {
  display: column;
}

.Actions {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.btn-forms-select {
  border: 1px solid rgb(68, 67, 67);
  padding: 5px 10px;
  border-radius: 28px;
}

.btn-forms-select:hover {
  cursor: pointer;
}

.btn-forms-isSelected {
  background-color: grey;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 28px;
}

.btn-forms-selects {
  border: 2px solid #35dcef;
  padding: 5px 10px;
  border-radius: 28px;
}

.btn-forms-selects:hover {
  cursor: pointer;
}

.btn-forms-isSelecteds {
  background-color: #35dcef;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 28px;
}

.btn-forms {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.limit {
  color: red;
}

.table-equipmentName {
  height: 50px;
}

.width-date {
  width: 10px;
}

.width-product {
  width: 70px;
}

.width-checkedBy {
  width: 5px;
}

.width-batchNo {
  width: 5px;
}

.width-typeOfActivity {
  width: 5px;
}

.width-reasonForCleaning {
  width: 10px;
}

.width-remark {
  width: 15px;
}

.width-area {
  width: 300px;
}

.height-table-tr1 {
  height: 100px;
}

.table-td-eSign {
  transform: rotate(90deg);
}

.table-typeOfActiviy {
  width: 195px;
}

.table-td-batchL1 {
  height: 100%;
  width: 100%;
}

.table-select {
  font-size: 18px;
}

.table th,
td {
  padding: 0px;
}

.table thead,
tr th {
  padding: 6px;
}

.full-column {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  height: 100%;
}

.AddRows {
  border: 1px dashed black;
  margin: 8px 0px;
  padding: 4px;
  display: flex;
  gap: 10px;
}

.addrowinstruction {
  color: rgb(76, 76, 214);
  font-size: 12px;
  display: flex;
  align-items: center;
}

.deviation-btn {
  border-radius: 80px;
  background-color: #2769ed;
  padding: 2px 10px;
  color: white;
  margin: 2px;
  font-size: 12px;
}

.analytics-btn {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  width: 130px;
}

.btn-print {
  padding: 5%;
  background-color: #35dcef;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


