
#config-form-document-pages {
    padding: 0 0 76px;
    /* border-left: 1px solid #808080; */
  }
  
  #config-form-document-page .top-blocks {
    background: var(--themeColor);
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  #config-form-document-pages .top-blocks div {
    padding: 10px 20px;
    border-right: 1px dashed #ffffff;
    font-size: 0.9rem;
  }
  
  #config-form-document-pages .top-blocks div:nth-last-child(1) {
    border-right: 0;
  }
  
  #config-form-document-pages .state-bar {
    display: flex;
    font-size: 0.85rem;
    gap: 20px;
  }
  
  #config-form-document-pages .document-block {
    padding: 20px;
    display: grid;
    gap: 20px;
  }
  
  #config-form-document-pages .document-tabs {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    order: 2;
  }
  
  #config-form-document-pages .document-tabs div {
    padding: 7px 15px;
    border-radius: 35px;
    font-weight: bold;
    background: #006fc026;
    cursor: pointer;
  }
  
  #config-form-document-pages .document-tabs div.active {
    background: var(--themeColor);
    color: white;
    font-weight: 400;
  }
  
  #config-form-document-pages .document-form {
    padding: 15px;
    border-radius: 5px;
    order: 3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  
  .dual-grid,
  #config-form-document-pages .document-form .form-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 0 20px;
  }
  
  #config-form-document-pages .document-form .sop-type-header {
    display: grid;
    grid-template-columns: 135px 1fr;
    border: 2px solid #000000;
    margin-bottom: 20px;
    padding: 1.5%;
  }
  
  #config-form-document-pages .document-form .sop-type-header .main-head {
    display: grid;
    place-items: center;
    align-content: center;
    font-size: 1.2rem;
  }
  
  #config-form-document-pages
    .document-form
    .sop-type-header
    .main-head
    div:nth-child(1) {
    font-weight: bold;
    font-size: 1.7rem;
  }
  
  #config-form-document-pages .button-block {
    padding: 19px 20px;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-left: 1px solid #808080;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px 10px;
  }
  
  #config-form-document-pages .details-form-data .sub-head {
    color: #101010;
    /* border-bottom: 2px solid #0d0d0d; */
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #config-form-document-pages .details-form-data .sub-head-2 {
    text-align: center;
    background: #35dcef;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 40px;
  }
  
  #config-form-document-pages .group-input .file-attachment-field {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: start;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  #config-form-document-pages .group-input .file-attachment-field input {
    margin: 0;
  }
  
  #config-form-document-pages
    .group-input
    .file-attachment-field
    .file-attachment-list {
    background: white;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #config-form-document-pages
    .group-input
    .file-attachment-field
    .file-attachment-list
    > div {
    font-size: 0.9rem;
  }
  
  #config-form-document-pages
    .group-input
    .file-attachment-field
    .file-attachment-list
    > div
    a {
    color: #0039bd;
    font-size: 0.8rem;
    text-decoration: underline;
  }
  
  #config-form-document-pages .group-input .file-attachment-field .add-btn {
    position: relative;
  }
  
  #config-form-document-pages .group-input .file-attachment-field .add-btn div {
    background: #35dcef;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
  }
  
  #config-form-document-pages .group-input .file-attachment-field .add-btn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
  }
  
  #config-form-document-pages .group-input table input,
  #config-form-document-pages .group-input table select,
  #config-form-document-pages .group-input table textarea {
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }
  
  #config-form-document-pages .form-flex-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  
  #config-form-document-pages #add-keyword {
    display: flex;
    gap: 20px;
  }
  
  #config-form-document-pages .document-block .option-grid > div {
    display: grid;
    grid-template-columns: 1fr 15px 20px;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  #config-form-document-pages .group-input #icon-flex {
    display: flex;
    gap: 5px;
  }
  
  #config-form-document-page .details-form-data .text-Annexure {
    padding: 10px;
  }
  
  #config-form-document-pages .activity-log-field {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px dashed #808080;
    font-size: 0.85rem;
  }
  
  #config-form-document-pages .activity-log-field:nth-child(2n) {
    background: #006fc00f;
  }
  
  #config-form-document-pages .activity-log-field div {
    padding: 7px 15px;
  }
  
  #config-form-document-pages .activity-log-field div:nth-child(1) {
    border-right: 1px dashed #808080;
  }
  
  #config-form-document-pages .activity-log-field:nth-last-child(1) {
    margin-bottom: 0;
  }