.Header_Top {
    position: relative;
    height: 82px;
    width: 100%;
    border-bottom: 1px solid rgb(235, 228, 228);
}


.Header_Top .header_inner {
    display: flex;
    height: 82px;
    width: 100%;
}

/* left div  */
.Header_Top .header_inner .left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
}

.Header_Top .header_inner .left .logo {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* width: 150px; */
}

.Header_Top .header_inner .left .logo img:nth-child(1) {
    height: 35px;
    width: 150px;
}

.Header_Top .header_inner .left .logo img {
    height: 50px;
    width: 150px;
}


/* center div  */
.Header_Top .header_inner .center {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.Header_Top .header_inner .center .inputContainer {
    height: 40px;
    display: flex;
    width: 80%;
    border-radius: 50px;
    box-shadow: 5px 5px 15px 5px rgb(241, 237, 237);
}

.Header_Top .header_inner .center .inputContainer .inputInnerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10%;
    border-radius: 5px 0px 0px 5px;
}

.Header_Top .header_inner .center .inputContainer .inputInnerLeft:hover {
    cursor: pointer;
}

.Header_Top .header_inner .center .inputContainer .inputInnerLeft i {
    font-size: 20px;
    font-weight: 900;
    color: #dadada;
}

.Header_Top .header_inner .center .inputContainer .inputInnerRight {
    border-radius: 0px 50px 50px 0px;
    width: 90%;
}


.Header_Top .header_inner .center input {
    height: 100%;
    width: 100%;
    font-size: 20px;
    padding: 0px 10px;
    border: 2px solid #dadada;
    border-radius: 0px 50px 50px 0px;
    border: 1px solid rgb(252, 251, 251);
}


.Header_Top .header_inner .center input:focus {
    outline: none;
    /* border: 2px solid #207ec6; */
    transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

/* header right div  */
.Header_Top .header_inner .right {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
}

.Header_Top .header_inner .right .bellLeft {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #207ec6;
    border-radius: 50px;
    margin-left: 225px;
}


.Header_Top .header_inner .right .bellLeft i {
    font-size: 20px;
    font-weight: 900;
    color: var(--themeColor);
}

.Header_Top .header_inner .right .profileRight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 80px;
}


.Header_Top .header_inner .right .profileRight img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}