.Header_Bottom {
    width: 100%;
    height: 50px;
    padding: 10px 25px;
    position: relative;
    background-color: rgb(82 82 82 / 7%);
    /* rgb(238, 232, 232);*/
}


.Header_Bottom .headerBottomInner {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}


.Header_Bottom .headerBottomInner .headerBottomLft {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.Header_Bottom .headerBottomInner .headerBottomLft .navItem {
    gap: 2px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.Header_Bottom .headerBottomInner .headerBottomLft .navItem h3 {
    font-size: 15px;
    width: max-content;
}



.Header_Bottom .headerBottomInner .headerBottomLft .navItem i {
    padding: 5px;
    font-size: 1.2rem;
}


.Header_Bottom .headerBottomInner .headerBottomRgt {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.Header_Bottom .headerBottomInner .headerBottomRgt button {
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 0px #c6adad;
}