#related-record-modal .modal-middle {
  padding: 0;
  max-height: 60vh;
  overflow-y: auto;
}

#related-record-modal .modal-container {
  width: 80%;
}

#related-record-modal .modal-container .modal-top {
  border-bottom-color:#32cfe1;
}

#related-record-modal .modal-container .modal-bottom {
  border-top-color: #32cfe1;
}

#related-record-modal .modal-container .modal-top .head {
  color: #006fc0;
}

#related-record-modal .modal-top-block {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 20px;
  align-items: center;
  padding: 20px 20px 0;
}

#related-record-modal .modal-top-block .search-bar {
  display: grid;
  grid-template-columns: 50px 1fr;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 40px;
  padding: 5px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#related-record-modal .modal-top-block .search-bar label {
  background: white;
  text-align: center;
  color: grey;
  display: grid;
  place-items: center;
}

#related-record-modal .modal-top-block .search-bar input {
  border: 0;
  font-size: 0.9rem;
  background: white;
  padding: 7px 10px;
}

#related-record-modal .modal-top-block .themeBtn {
  background: var(--themeColor);
  color: white;
  font-size: 1.1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 40px;
}

#related-record-modal .modal-mid-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid #32cfe1;
}

#related-record-modal .modal-table-block {
  padding: 20px;
  display: grid;
  gap: 20px;
}

#related-record-modal .modal-table-block .group-input-2 label {
  display: flex;
  align-items: center;
  gap: 10px;
}
