@tailwind base;
@tailwind components;
@tailwind utilities;


.fixed-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffff;
    
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* bottom */
  min-height: 100vh;
}