@tailwind base;
@tailwind components;
@tailwind utilities;


.fixed-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffff;
    
}

/* MultiSelectCustom.css */

/* Ensure the dropdown menu options are left-aligned */
.react-multi-select-component .dropdown-content {
    text-align: left;
  }
  
  /* Ensure the selected text and placeholder are right-aligned */
  .react-multi-select-component .multi-select {
    text-align: right;
  }
  
  .react-multi-select-component .dropdown-heading-value {
    text-align: right;
  }
  
  .react-multi-select-component .dropdown-heading-placeholder {
    text-align: right;
  }
  
  /* Additional styling to remove double border and maintain visual consistency */
  .react-multi-select-component .dropdown-container {
    border: none;
    box-shadow: none;
  }
  
  .react-multi-select-component .item-renderer {
    padding-left: 8px;
  }
  



