/*! ===================================================================== */
/*! DEFAULT CSS */
/*! ===================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", serif;
  --themeColor: #efa035;
} */

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s linear;
}

button {
  border: 0;
  outline: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
}

img {
  width: 100%;
}

input,
select,
textarea {
  /* border: 0; */
  outline: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
}

input:focus,
select:focus,
textarea:focus {
  /* border: 0; */
  outline: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  /* border: 0; */
  outline: 0;
  padding: 0;
  box-shadow: none;
  background: transparent;
}

/*! ===================================================================== */
/*! Table css */
/*! ===================================================================== */


tr:nth-child(2n) {
  background: #006fc026;
}

tr:nth-child(2n) input,
tr:nth-child(2n) select,
tr:nth-child(2n) textarea {
  background: transparent !important;
}

.group-input {
  margin-bottom: 20px;
}

.group-input label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.group-input label.color-label {
  /* background: #80808045; */
  padding: 7px 15px;
}

.group-input .instruction {
  font-size: 0.8rem;
  color: #006fc0;
}

.group-input label .required {
  width: 5px;
  height: 5px;
  background: #ff0000;
}

.group-input input:not([type="radio"]):not([type="checkbox"]),
.group-input select,
.group-input textarea {
  border-bottom: 1px solid rgb(100, 99, 99);
  padding: 5px 15px;
  display: block;
  width: 100%;
  background: white;
}

.group-input-2 {
  display: grid;
  grid-template-columns: 100px 1fr;
  /* border: 1px solid grey; */
  border-radius: 5px;
  overflow: hidden;
  background: white;
  align-items: start;
  padding: 8px 10px;
}

.group-input-2 label {
  font-size: 0.9rem;
  margin-bottom: 0px;
  display: block;
  width: 100%;
  font-weight: bold;
}

.group-input-2 input:not([type="radio"]):not([type="checkbox"]),
.group-input-2 select,
.group-input-2 textarea {
  padding: 0 0 0 15px;
  display: block;
  width: 100%;
  background: white;
  border: 2px solid grey;
  height: 35px;
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

/*! ===================================================================== */
/*! BUTTON CSS */
/*! ===================================================================== */
.themeBtn {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #32cfe1;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1rem;
  font-weight: bold;
}

.themeBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
