.graph-2{
    padding: 10px 20px;
}

.chart-analytick{
   box-shadow:  0 0 4px rgba(0, 0, 0, 0.1),  0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}
.heading{
height: 20px;
display: flex;
justify-content: center;
align-items: center;
padding-top: 2rem;
}